<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Clientes - Tienda Monolito</title>
  <th:block th:replace="~{fragmentos :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragmentos :: cabecera('clientes')}"></header>
<main>
  <h1>Clientes</h1>
  <p class="sub">Modulo de clientes.</p>

  <div class="card">
    <h3 style="margin-top:0">Nuevo cliente</h3>
    <form class="inline" method="post" th:action="@{/clientes}">
      <div><label>Nombre</label><input name="nombre" required></div>
      <div><label>Email</label><input name="email" type="email" required></div>
      <div><button type="submit">Guardar</button></div>
    </form>
  </div>

  <div class="card">
    <table>
      <tr><th>ID</th><th>Nombre</th><th>Email</th></tr>
      <tr th:each="c : ${clientes}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nombre}"></td>
        <td th:text="${c.email}"></td>
      </tr>
    </table>
  </div>
</main>
</body>
</html>
